TELEGRAM_BOT_TOKEN=8664759123:AAEu5XPBTfDhIpSbNDrWlftcomplBd1V20c
TELEGRAM_CHAT_ID=-1003856734730
TIMEZONE=Asia/Jakarta
NEWS_POLL_MINUTES=5
MARKET_SUMMARY_MINUTES=60
SEND_MARKET_SUMMARY=true
SEND_STARTUP_MESSAGE=true
RSS_NEWS_ENABLED=true
YAHOO_NEWS_ENABLED=true
